/* header */
@import url('https://fonts.cdnfonts.com/css/rugen');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&display=swap');
body {
    background: linear-gradient(172.76deg, #1C315B 44.26%, #68271C 94.37%);
}
nav {
    display: flex;
    background-color: black;
    width: 100%;
}
.navbar{
    display: flex;
    padding: 35px 34px;
    gap: 45px;
    color: white;
    font-family: 'Rugen', sans-serif;
    text-decoration: none;
    align-items: center;
    width: 40%;
    box-sizing: border-box;
}
.navbar li {
    list-style-type: none;
}
.navbar li a {
    text-decoration: none;
    color: white;
}
.vector {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 40%;
    height: 121px;
    gap: 43px;
    padding-right: 34px;
    box-sizing: border-box;
}
.logo1 {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 20%;
    box-sizing: border-box;
}
.material-symbols-outlineddd {
    display: none;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
/* main */
/* section 1 */
section:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.pull_shop {
    width: 2000px;
    display: flex;
    justify-content: center;
}
.pull_shop img {
    padding-top: 10px;
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin: 23px;
}
.ordenar {
    margin-bottom: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(33, 236, 181, 1);
    width: 221px;
    height: 56px;
    color: black;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    margin-right: 23px;
}
.ordenar:hover {
    cursor: pointer;
}
.ordenar_container {
    display:  flex;
    justify-content:flex-end;
    align-items: center;
    padding-top: 23px;
    width: 2000px;
}
.container_ordenar_container {
    display: flex;
    justify-content: center;
    width: 100%;
}
/* section 2 */
.section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 200px;
}
.container_shop {
    display: flex;
    width: 2000px;
    flex-direction: row;
    justify-content: space-between;
}
.tri {
    margin-left: 23px;
    display: flex;
    flex-direction:column;
    padding: 23px;
    padding-top: 50px;
    justify-content: space-around;
    background: rgba(25, 26, 27, 1);
    width: 236px;
    height: 409px;
    border-radius: 7px;
}
.tri h1{
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
.plus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.articles_row1 {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    padding-bottom: 15px;
}
.articles_row2 {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    padding-bottom: 15px;
}
.articles_row3 {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}
.page_articles {
    background: rgba(25, 26, 27, 1);
    padding: 23px;
    padding-top: 40px;
    border-radius: 7px;
    margin-right: 23px;
}
.page_articles a {
    text-decoration: none;
}
.star {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    gap:5px;
}
.star h3 {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 22.74px;
}
.nikeshoes {
    background-color: black;
    height: 438px;
    border-radius: 7px;
}
.nikeshoes h2 {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 22.74px;
}
.star_desc_items {
    padding-left: 15px;
}
.desc_items {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.price {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}
.controller {
    background-color: black;
    height: 438px;
    border-radius: 7px;
}
.controller h2 {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 22.74px;
}
.pull {
    background-color: black;
    height: 438px;
    border-radius: 7px;
}
.pull h2 {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 22.74px;
}
.shirt {
    background-color: black;
    height: 438px;
    border-radius: 7px;
}
.shirt h2 {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 22.74px;
}
.buttons_page {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.buttons_page h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    background: rgba(5, 74, 89, 1);
    width: 40px;
    height: 40px;
    border-radius: 7px;
}
.buttons_page h3:nth-child(1) {
    color: rgba(0, 0, 0, 1);
    background: rgba(33, 236, 181, 1);
}
.buttons_page h3:hover {
    color: rgba(0, 0, 0, 1);
    background: rgba(33, 236, 181, 1);
    cursor: pointer;
}
/* footer */
footer {
    margin-top: 150px;
    background: rgba(8, 16, 29, 1);
}
.logo_nav_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 105px;
    height: 426px;
    font-family: 'Lato', sans-serif;
}
.logo_nav_footer img {
    padding-left: 30px;
}
.navfooter {
    width: 100%;
    background: rgba(8, 16, 29, 1);
    align-items: center;
    justify-content: space-around;
}
.navigation {
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: white;
    text-align: center;
}
.navigation a {
    text-decoration: none;
    color: white;
}
.categories {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 50px;
    text-align: center;
}
.categories a {
    text-decoration: none;
    color: white;
}
.helpandsupport {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 72px;
    text-align: center;
}
.helpandsupport a {
    text-decoration: none;
    color: white;
}
.socials_footer {
    display: flex;
    justify-content: center;
    gap: 43px;
    padding-bottom: 23px;
}
.socials_footer img {
    cursor: pointer;
}
.designer {
    padding: 23px;
    text-align: center;
    font-size: 26px;
    font-family: 'Rugen', sans-serif;
    color: white;
    background: black;
}